
.App-header {
  background-color: #4c4cff;
  height: 80px;
  position:absolute;
  top:0;
  color: black;
  width:100%;
  font-family: Helvetica;
  font-size: 12;
  text-align: center;
  text-transform: capitalize;

}


.App-footer {

  background-color: #4c4cff;
  position:absolute;
   bottom:0;
   width:100%;
   height:80px;   /* Height of the footer */
   text-align: center;
   text-transform: capitalize;

}
